<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\mt3\client\resource\bin\debug\MT3.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>E:\mt3\client\resource\bin\debug</StartWorkingDirectory>
  </propertyGroup>
</Project>