<!DOCTYPE html>
<html lang="zh">
<head>
<link rel="stylesheet" type="text/css" href="__MB__/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="__MB__/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__MB__/css/style.min.css">
<!--表格插件css-->
<link rel="stylesheet" href="__MB__/js/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" type="text/css" href="__MB__/css/style.min.css">
</head>
  
<body>
<div class="container-fluid">
  
  <div class="row">
    
    <div class="col-lg-12">
      <div class="card">
        <header class="card-header"><div class="card-title">区服列表</div></header>
        <div class="card-body">
          <div class="card-search mb-2-5">
            <form action="/{$app}/configure/serverTitle" method="post" class="edit-form">
				<div class="mb-3 col-md-12">
				  <label class="form-label">头部网址</label>
				  <div class="form-controls">
					<textarea class="form-control" rows="3" name="title" placeholder="">{$title}</textarea>
				  </div>
				</div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success me-1">保存</button>
                </div>
            </form>
          </div>
          <div id="toolbar" class="toolbar-btn-action">
           <a class="multitabs" href="/{$app}/configure/serverAdd">
            <button id="btn_add" type="button" class="btn btn-primary me-1">
				新增
            </button>
			</a>
            <button id="btn_edit" type="button" onClick="makeServerList()"  class="btn btn-success me-1">
				生成列表
            </button>
            <!-- <button id="btn_edit" type="button" class="btn btn-warning me-1"> -->
              <!-- <span class="mdi mdi-block-helper" aria-hidden="true"></span>禁用 -->
            <!-- </button> -->
            <!-- <button id="btn_delete" type="button" class="btn btn-danger"> -->
              <!-- <span class="mdi mdi-window-close" aria-hidden="true"></span>删除 -->
            <!-- </button> -->
          </div>
  	      <table id="table"></table>
          
        </div>
      </div>
    </div>
        
  </div>
  
</div>
<script type="text/javascript" src="__MB__/js/jquery.min.js"></script>
<script type="text/javascript" src="__MB__/js/popper.min.js"></script>
<script type="text/javascript" src="__MB__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__MB__/js/main.min.js"></script>
<!--表格插件js-->
<script src="__MB__/js/bootstrap-table/bootstrap-table.js"></script>
<script src="__MB__/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<!--通知弹窗-->
<link rel="stylesheet" type="text/css" href="__MB__/alert/sweetalert2.min.css">
<script  src="__MB__/alert/sweetalert2.all.min.js"></script>

<script>
$('.edit-form').on('submit', function(event) {
    var $data  = $(this).serialize();
	
    $.post($(this).attr('action'), $data, function(res) {
		if(res.code==1){
			const Toast = Swal.mixin({
			  toast: true,
			  position: "top",
			  showConfirmButton: false,
			  timer: 1500,
			  timerProgressBar: true,
			  didOpen: (toast) => {
				toast.onmouseenter = Swal.stopTimer;
				toast.onmouseleave = Swal.resumeTimer;
			  }
			});
			Toast.fire({
			  icon: "success",
			  title: res.msg
			});
			setTimeout("self.location.reload();",1500);
		}else {
			const Toast = Swal.mixin({
			  toast: true,
			  position: "top",
			  showConfirmButton: false,
			  timer: 1500,
			  timerProgressBar: true,
			  didOpen: (toast) => {
				toast.onmouseenter = Swal.stopTimer;
				toast.onmouseleave = Swal.resumeTimer;
			  }
			});
			Toast.fire({
			  icon: "error",
			  title: res.msg
			});
			//setTimeout("self.location.reload();",1500);
		}
	}).fail(function () {
		const Toast = Swal.mixin({
		  toast: true,
		  position: "top",
		  showConfirmButton: false,
		  timer: 1500,
		  timerProgressBar: true,
		  didOpen: (toast) => {
			toast.onmouseenter = Swal.stopTimer;
			toast.onmouseleave = Swal.resumeTimer;
		  }
		});
		Toast.fire({
		  icon: "question",
		  title: '服务异常'
		});
		//setTimeout("self.location.reload();",1500);
	});

    return false;
});
</script>

<script>

	function makeServerList(){
		//rows选中行的数据对象数组
		$action="/{$app}/configure/makeServerList"
		$.post($action, null, function(res) {
			if(res.code==1){
				const Toast = Swal.mixin({
				  toast: true,
				  position: "top",
				  showConfirmButton: false,
				  timer: 1500,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.onmouseenter = Swal.stopTimer;
					toast.onmouseleave = Swal.resumeTimer;
				  }
				});
				Toast.fire({
				  icon: "success",
				  title: res.msg
				});
				setTimeout("self.location.reload();",1500);
			}else {
				const Toast = Swal.mixin({
				  toast: true,
				  position: "top",
				  showConfirmButton: false,
				  timer: 1500,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.onmouseenter = Swal.stopTimer;
					toast.onmouseleave = Swal.resumeTimer;
				  }
				});
				Toast.fire({
				  icon: "error",
				  title: res.msg
				});
				setTimeout("self.location.reload();",1500);
			}
		}).fail(function () {
				const Toast = Swal.mixin({
				  toast: true,
				  position: "top",
				  showConfirmButton: false,
				  timer: 1500,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.onmouseenter = Swal.stopTimer;
					toast.onmouseleave = Swal.resumeTimer;
				  }
				});
				Toast.fire({
				  icon: "question",
				  title: '服务异常'
				});
			setTimeout("self.location.reload();",1500);
		});

		return false;
	}
	/**
	 * 分页相关的配置
	 **/
	const pagination = {
		// 分页方式：[client] 客户端分页，[server] 服务端分页
		sidePagination: "server",
		// 初始化加载第一页，默认第一页
		pageNumber: 1,
		// 每页的记录行数
		pageSize: 10,
		// 可供选择的每页的行数 - (亲测大于1000存在渲染问题)
		pageList: [5, 10, 25, 50, 100],
		// 在上百页的情况下体验较好 - 能够显示首尾页
		paginationLoop: true,
		// 展示首尾页的最小页数
		paginationPagesBySide: 2
	};
	
	/**
	 * 按钮相关配置
	 **/
	const button = {
		// 按钮的类
		buttonsClass: 'default',
		// 类名前缀
		buttonsPrefix: 'btn'
	}
	
	/**
	 * 图标相关配置
	 **/
	const icon = {
		// 图标前缀
		iconsPrefix: 'mdi',
		// 图标大小
		iconSize: 'mini',
		// 图标的设置
		icons: {
			paginationSwitchDown: 'mdi-door-closed',
			paginationSwitchUp: 'mdi-door-open',
			refresh: 'mdi-refresh',
			toggleOff: 'mdi-toggle-switch-off',
			toggleOn: 'mdi-toggle-switch',
			columns: 'mdi-table-column-remove',
			detailOpen: 'mdi-plus',
			detailClose: 'mdi-minus',
			fullscreen: 'mdi-monitor-screenshot',
			search: 'mdi-table-search',
			clearSearch: 'mdi-trash-can-outline'
		}
	};
	
	/**
	 * 表格相关的配置
	 **/
	const table = {
		classes: 'table table-bordered table-hover table-striped lyear-table',
		// 请求地址
		url: '/{$app}/configure/serverList',
		// 唯一ID字段
		uniqueId: 'id',
		// 每行的唯一标识字段
		idField: 'id',
		// 是否启用点击选中行
		clickToSelect: true,
		// 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
		// showToggle: true,
		// 请求得到的数据类型
		dataType: 'jsonp',
		// 请求方法
		method: 'post',
		// 工具按钮容器
		toolbar: '#toolbar',
		// 是否分页
		pagination: true,
		// 是否显示所有的列
		showColumns: true,
		// 是否显示刷新按钮
		showRefresh: true,
		// 显示图标
		showButtonIcons: true,
		// 显示文本
		showButtonText: false,
		// 显示全屏
		showFullscreen: true,
		// 开关控制分页
		showPaginationSwitch: true,
		// 总数字段
		totalField: 'total',
		// 当字段为 undefined 显示
		undefinedText: '-',
		// 排序方式
		sortOrder: "asc",
		...icon,
		...pagination,
		...button
	};
	
	/**
	 * 用于演示的列信息
	 **/
	const columns = [{
		field: 'example',
		checkbox: true,
		// 列的宽度
		width: 3,
		// 宽度单位
		widthUnit: 'rem'
	}, {
		field: 'id',
		title: 'ID',
		// 使用[align]，[halign]和[valign]选项来设置列和它们的标题的对齐方式。
		// h表示横向，v标识垂直
		align: 'center',
		// 是否作为排序列
		sortable: true,
		// 当列名称与实际名称不一致时可用
		sortName: 'id',
		switchable: false,
		// 列的宽度
		width: 3,
		// 宽度单位
		widthUnit: 'rem'
	}, {
		field: 'groupname',
		align: 'center',
		title: '区组名'
	}, {
		field: 'name',
		align: 'center',
		title: '大区名称',
	}, {
		field: 'serverip',
		align: 'center',
		title: '大区IP',
	}, {
		field: 'serverid',
		align: 'center',
		title: '大区ID',
	}, {
		field: 'opentime',
		align: 'center',
		title: '开服日期',
	},{
		field: 'serverport',
		align: 'center',
		title: '大区端口',
        formatter:function(value, row, index){ 
			return '<span class="badge bg-secondary">'+row.serverport+'</span>';
		}
	},{
		field: 'notice',
		align: 'center',
		title: '循环公告'
	}, {
		field: 'gmport',
		align: 'center',
		title: 'GM端口',
        formatter:function(value, row, index){ 
			return '<span class="badge bg-secondary">'+row.gmport+'</span>';
		}
	},{
        field: 'deng',
        title: '大区状态',
        formatter:function(value, row, index){ 
			var value="";
			if (row.deng == '0') {
				value = '<span class="badge bg-success">正常(绿色)</span>';
			} else if(row.deng == '1') {
				value = '<span class="badge bg-yellow">火爆(黄色)</span>';
			} else if(row.deng == '2') {
				value = '<span class="badge bg-secondary">维护(灰色)</span>';
			} else if(row.deng == '3') {
				value = '<span class="badge bg-danger">繁忙(红色)</span>' ;
			} else {
				value = '<span class="badge bg-secondary">未知</span>' ;
			}
			return value;
		}
    }, {
        field: 'biao',
        title: '大区标志',
        formatter:function(value, row, index){ 
			var value="";
			if (row.biao == '0') {
				value = '<span class="badge bg-danger">推荐+火爆</span>';
			} else if(row.biao == '1') {
				value = '<span class="badge bg-primary">新服</span>';
			} else if(row.biao == '2') {
				value = '<span class="badge bg-secondary">推荐+新服</span>';
			} else if(row.biao == '3') {
				value = '<span class="badge bg-success">无标志</span>';
			} else {
				value = '<span class="badge bg-secondary">未知</span>' ;
			}
			return value;
		}
    }, {
        field: 'gmlocal',
        title: '本地GM',
        formatter:function(value, row, index){ 
			var value="";
			if(row.gmlocal == '1') {
				value = '<span class="badge bg-cyan">本地</span>';
			} else {
				value = '<span class="badge bg-pink">远程</span>' ;
			}
			return value;
		}
    }, {
        field: 'status',
        title: '状态',
        formatter:function(value, row, index){ 
			var value="";
			if (row.status == '0') {
				value = '<span class="badge bg-danger">禁用</span>';
			} else if(row.status == '1') {
				value = '<span class="badge bg-success">正常</span>';
			} else {
				value = '<span class="badge bg-secondary">未知</span>' ;
			}
			return value;
		}
    },{
		field: 'xianyu',
		align: 'center',
		title: '仙玉比例',
        formatter:function(value, row, index){ 
			var value = '<span class="badge bg-indigo">1：'+ row.xianyu +'</span>' ;
			return value;
		}
	}, {
		field: 'vip',
		align: 'center',
		title: 'VIP经验比例',
        formatter:function(value, row, index){ 
			var value = '<span class="badge bg-indigo">1：'+ row.vip +'</span>' ;
			return value;
		}
	},{
		field: 'charge',
		align: 'center',
		title: '今日累积比例',
        formatter:function(value, row, index){ 
			var value = '<span class="badge bg-indigo">1：'+ row.charge +'</span>' ;
			return value;
		}
	},{
        field: 'operate',
        title: '操作',
        formatter: btnGroup,  // 自定义方法
        events: {
            'click .edit-btn': function (event, value, row, index) {
                event.stopPropagation();
                editUser(row);
            },
            'click .del-btn': function (event, value, row, index) {
                event.stopPropagation();
                delUser(row);
            }
        }
    }];
    
    // 自定义操作按钮
    function btnGroup () {
        let html =
            '<a href="#!" class="btn btn-sm btn-default me-1 edit-btn" title="编辑" data-bs-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>' +
            '<a href="#!" class="btn btn-sm btn-default del-btn" title="删除" data-bs-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>';
        return html;
    }
  
    // 操作方法 - 编辑
    function editUser(row) {
		var id = row.id;
		location.href='/{$app}/configure/serverEdit?id='+id;
    }
    //操作方法 - 删除
    function delUser(row) {
		var id = row.id;
		$.post("/{$app}/configure/serverDel", {id:id}, function(res) {
			if(res.code==1){
				const Toast = Swal.mixin({
				  toast: true,
				  position: "top",
				  showConfirmButton: false,
				  timer: 1500,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.onmouseenter = Swal.stopTimer;
					toast.onmouseleave = Swal.resumeTimer;
				  }
				});
				Toast.fire({
				  icon: "success",
				  title: res.msg
				});
				setTimeout("self.location.reload();",1500);
			}else {
				const Toast = Swal.mixin({
				  toast: true,
				  position: "top",
				  showConfirmButton: false,
				  timer: 1500,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.onmouseenter = Swal.stopTimer;
					toast.onmouseleave = Swal.resumeTimer;
				  }
				});
				Toast.fire({
				  icon: "error",
				  title: res.msg
				});
				//setTimeout("self.location.reload();",1500);
			}
		}).fail(function () {
			const Toast = Swal.mixin({
			  toast: true,
			  position: "top",
			  showConfirmButton: false,
			  timer: 1500,
			  timerProgressBar: true,
			  didOpen: (toast) => {
				toast.onmouseenter = Swal.stopTimer;
				toast.onmouseleave = Swal.resumeTimer;
			  }
			});
			Toast.fire({
			  icon: "question",
			  title: '服务异常'
			});
			//setTimeout("self.location.reload();",1500);
		});
    }
	
	$('table').bootstrapTable({
		...table,
		// 自定义的查询参数
		queryParams: function (params) {
			return {
				// 每页数据量
				limit: params.limit,
				// sql语句起始索引
				offset: params.offset,
				page: (params.offset / params.limit) + 1,
				// 排序的列名
				sort: params.sort,
				// 排序方式 'asc' 'desc'
				sortOrder: params.order
			};
		},
		columns,
        onLoadSuccess: function(data){
            $("[data-bs-toggle='tooltip']").tooltip();
        }
	});
</script>

</body>
</html>