<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>{$config.name}</title>
      <meta charset="UTF-8">
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
	  <style>
		.stroked-text {
			/* 设置文字描边 */
			-webkit-text-stroke: 1px black; /* Chrome, Safari */
			text-stroke: 1px black; /* 标准语法（可能不被所有浏览器支持） */
			color: white; /* 文字填充颜色 */
			font-size: 40px;
			font-weight: bold;
		}
		</style>
	  <link rel="shortcut icon" type="image/x-icon" href="{$config.icon}">
      <link href="__MB__/index1/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <link href="__MB__/index1/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
      <link href="__MB__/index1/css/nav.css" rel="stylesheet" type="text/css" media="all" />
      <script src="__MB__/index1/js/modernizr.custom.js"></script>
      <link rel="stylesheet" type="text/css" href="__MB__/index1/css/uncover.css" />
      <link href="__MB__/index1/css/style.css" rel='stylesheet' type='text/css' media="all">
   </head>
   <body>
      <div class="header-outs" id="home">
         <!--banner-->
         <div class="slides text-center">
            <div class="slide slide--current one-img ">
               <div class="slide__img">
               </div>
            </div>
            <div class="slide two-img">
               <div class="slide__img"></div>
            </div>
            <div class="slide three-img">
               <div class="slide__img "></div>
            </div>
            <div class="slide four-img">
               <div class="slide__img "></div>
            </div>
            <div class="slide five-img">
               <div class="slide__img "></div>
            </div>
            <div class="slide six-img">
               <div class="slide__img "></div>
            </div>
            <div class="clearfix"></div>
         </div>
         <ul class="pagination">
            <li><span class="pagination__item"> </span></li>
            <li><span class="pagination__item"> </span></li>
            <li><span class="pagination__item"> </span></li>
            <li><span class="pagination__item"> </span></li>
            <li><span class="pagination__item"> </span></li>
            <li><span class="pagination__item"> </span></li>
         </ul>
         <div class="clearfix"></div>
      </div>
      <!--//banner-->
      <!--Footer -->   
      <footer class="py-2">
         <div class="icons text-center py-md-3 pb-2">
            <ul>
               <li><a href="#">稳定</a></li>
               <li><a href="#">专业</a></li>
               <li><a href="#">更新</a></li>
               <li><a href="#">服务</a></li>
            </ul>
         </div>
         <div class="footer-below text-center">
            <p>©2024 梦幻西游 稳定运行中</p>
         </div>
      </footer>
      <script src='__MB__/index1/js/jquery-2.2.3.min.js'></script>
      <script src="__MB__/index1/js/imagesloaded.pkgd.min.js"></script>
      <script src="__MB__/index1/js/anime.min.js"></script>
      <script src="__MB__/index1/js/uncover.js"></script>
      <script src="__MB__/index1/js/demo1.js"></script>
      <script src="__MB__/index1/js/classie.js"></script>
      <script src="__MB__/index1/js/demonav.js"></script>
      <script src="__MB__/index1/js/bootstrap.min.js"></script>
   <style>
	.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
	</style>
</body>
</html>