<!DOCTYPE html>
<html lang="zh">
<head>
<link rel="stylesheet" type="text/css" href="__MB__/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="__MB__/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__MB__/css/style.min.css">
<!--表格插件css-->
<link rel="stylesheet" href="__MB__/js/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" type="text/css" href="__MB__/css/style.min.css">
</head>
  
<body>
<div class="container-fluid">
  
  <div class="row">
    
    <div class="col-lg-12">
      <div class="card">
        <header class="card-header"><div class="card-title">代理列表</div></header>
        <div class="card-body">
          <div class="card-search mb-2-5">
            <form class="search-form" method="get" action="#!" role="form">
              
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                    <label class="col-sm-4 col-form-label">账号</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control pull-left" name="username" value="" placeholder="账号" />
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <label class="col-sm-4 col-form-label">邀请码</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control pull-left" name="invite" value="" placeholder="邀请码" />
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <label class="col-sm-4 col-form-label">代理级别</label>
                    <div class="col-sm-8">
                      <select name="lv" class="form-select">
                        <option value="0">全部</option>
                        <option value="1">一级</option>
                        <option value="2">二级</option>
                        <option value="3">三级</option>
                        <option value="4">四级</option>
                        <option value="5">五级</option>
                        <option value="6">六级</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <button type="submit" class="btn btn-primary me-1">搜索</button>
                  <button type="reset" class="btn btn-default">重置</button>
                </div>
              </div>
              
            </form>
          </div>
          <div id="toolbar" class="toolbar-btn-action">
           <a class="multitabs" href="/{$app}/agent/add">
            <button id="btn_add" type="button" class="btn btn-primary me-1">
              <span class="mdi mdi-plus" aria-hidden="true"></span>新增
            </button>
			</a>
            <!-- <button id="btn_edit" type="button" class="btn btn-success me-1"> -->
              <!-- <span class="mdi mdi-check" aria-hidden="true"></span>启用 -->
            <!-- </button> -->
            <!-- <button id="btn_edit" type="button" class="btn btn-warning me-1"> -->
              <!-- <span class="mdi mdi-block-helper" aria-hidden="true"></span>禁用 -->
            <!-- </button> -->
            <!-- <button id="btn_delete" type="button" class="btn btn-danger"> -->
              <!-- <span class="mdi mdi-window-close" aria-hidden="true"></span>删除 -->
            <!-- </button> -->
          </div>
  	      <table id="table"></table>
          
        </div>
      </div>
    </div>
        
  </div>
  
</div>
<script type="text/javascript" src="__MB__/js/jquery.min.js"></script>
<script type="text/javascript" src="__MB__/js/popper.min.js"></script>
<script type="text/javascript" src="__MB__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__MB__/js/main.min.js"></script>
<!--表格插件js-->
<script src="__MB__/js/bootstrap-table/bootstrap-table.js"></script>
<script src="__MB__/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<!--通知弹窗-->
<link rel="stylesheet" type="text/css" href="__MB__/alert/sweetalert2.min.css">
<script  src="__MB__/alert/sweetalert2.all.min.js"></script>


<script>
	/**
	 * 分页相关的配置
	 **/
	const pagination = {
		// 分页方式：[client] 客户端分页，[server] 服务端分页
		sidePagination: "server",
		// 初始化加载第一页，默认第一页
		pageNumber: 1,
		// 每页的记录行数
		pageSize: 10,
		// 可供选择的每页的行数 - (亲测大于1000存在渲染问题)
		pageList: [5, 10, 25, 50, 100],
		// 在上百页的情况下体验较好 - 能够显示首尾页
		paginationLoop: true,
		// 展示首尾页的最小页数
		paginationPagesBySide: 2
	};
	
	/**
	 * 按钮相关配置
	 **/
	const button = {
		// 按钮的类
		buttonsClass: 'default',
		// 类名前缀
		buttonsPrefix: 'btn'
	}
	
	/**
	 * 图标相关配置
	 **/
	const icon = {
		// 图标前缀
		iconsPrefix: 'mdi',
		// 图标大小
		iconSize: 'mini',
		// 图标的设置
		icons: {
			paginationSwitchDown: 'mdi-door-closed',
			paginationSwitchUp: 'mdi-door-open',
			refresh: 'mdi-refresh',
			toggleOff: 'mdi-toggle-switch-off',
			toggleOn: 'mdi-toggle-switch',
			columns: 'mdi-table-column-remove',
			detailOpen: 'mdi-plus',
			detailClose: 'mdi-minus',
			fullscreen: 'mdi-monitor-screenshot',
			search: 'mdi-table-search',
			clearSearch: 'mdi-trash-can-outline'
		}
	};
	
	/**
	 * 表格相关的配置
	 **/
	const table = {
		classes: 'table table-bordered table-hover table-striped lyear-table',
		// 请求地址
		url: '/{$app}/agent/list_table',
		// 唯一ID字段
		uniqueId: 'id',
		// 每行的唯一标识字段
		idField: 'id',
		// 是否启用点击选中行
		clickToSelect: true,
		// 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
		// showToggle: true,
		// 请求得到的数据类型
		dataType: 'jsonp',
		// 请求方法
		method: 'post',
		// 工具按钮容器
		toolbar: '#toolbar',
		// 是否分页
		pagination: true,
		// 是否显示所有的列
		showColumns: true,
		// 是否显示刷新按钮
		showRefresh: true,
		// 显示图标
		showButtonIcons: true,
		// 显示文本
		showButtonText: false,
		// 显示全屏
		showFullscreen: true,
		// 开关控制分页
		showPaginationSwitch: true,
		// 总数字段
		totalField: 'total',
		// 当字段为 undefined 显示
		undefinedText: '-',
		// 排序方式
		sortOrder: "asc",
		...icon,
		...pagination,
		...button
	};
	
	/**
	 * 用于演示的列信息
	 **/
	const columns = [{
		field: 'example',
		checkbox: true,
		// 列的宽度
		width: 3,
		// 宽度单位
		widthUnit: 'rem'
	}, {
		field: 'id',
		title: 'ID',
		// 使用[align]，[halign]和[valign]选项来设置列和它们的标题的对齐方式。
		// h表示横向，v标识垂直
		align: 'center',
		// 是否作为排序列
		sortable: true,
		// 当列名称与实际名称不一致时可用
		sortName: 'id',
		switchable: false,
		// 列的宽度
		width: 3,
		// 宽度单位
		widthUnit: 'rem'
	}, {
		field: 'username',
		align: 'center',
		title: '账号'
	}, {
		field: 'last_username',
		align: 'center',
		title: '上级代理',
	}, {
		field: 'lv',
		align: 'center',
		title: '代理等级',
        formatter:function(value, row, index){ 
			return '<span class="badge bg-secondary">'+row.lv+'级</span>';
		}
	}, {
		field: 'fencheng',
		align: 'center',
		title: '分成',
        formatter:function(value, row, index){ 
			return '<span class="badge bg-secondary">'+row.fencheng+'%</span>';
		}
	},  {
		field: 'all_money',
		align: 'center',
		title: '总流水',
	}, {
		field: 'today_money',
		align: 'center',
		title: '今日流水',
	}, {
		field: 'lastday_money',
		align: 'center',
		title: '昨日流水',
	},{
		field: 'balance',
		align: 'center',
		title: '昨日应结算',
	},{
		field: 'qx',
		align: 'center',
		title: '代理权限',
        formatter:function(value, row, index){ 
			var value="";
			if (row.qx == '0') {
				value = '<a href="#!" class="btn btn-sm btn-danger quanxian-btn" title="禁用" data-bs-toggle="tooltip"><span>禁用</span></a>';
			} else if(row.qx == '1') {
				value = '<a href="#!" class="btn btn-sm btn-success quanxian-btn" title="启用" data-bs-toggle="tooltip"><span>启用</span></a>';
			} else {
				value = '<span class="badge bg-secondary">未知</span>' ;
			}
			return value;
		},
        events: {
            'click .quanxian-btn': function (event, value, row, index) {
                event.stopPropagation();
                quanxianUser(row);
            }
        }
	},{
		field: 'user_num',
		align: 'center',
		title: '玩家数量',
	},{
		field: 'invite',
		align: 'center',
		title: '邀请码',
        formatter:function(value, row, index){ 
			return '<span class="badge bg-secondary">'+row.invite+'</span>';
		}
	},{
		field: 'id',
		align: 'center',
		title: '查看玩家',
        formatter:function(value, row, index){ 
			return '<a href="/{$app}/player/list?username=&lastagent='+row.id+'"><span class="btn btn-secondary">点击查看</span></a>';
		}
	}, {
        field: 'status',
        title: '状态',
        formatter:function(value, row, index){ 
			var value="";
			if (row.status == '0') {
				value = '<a href="#!" class="btn btn-sm btn-danger status-btn" title="禁用" data-bs-toggle="tooltip"><span>禁用</span></a>';
			} else if(row.status == '1') {
				value = '<a href="#!" class="btn btn-sm btn-success status-btn" title="正常" data-bs-toggle="tooltip"><span>正常</span></a>';
			} else {
				value = '<span class="badge bg-secondary">未知</span>' ;
			}
			return value;
		},
        events: {
            'click .status-btn': function (event, value, row, index) {
                event.stopPropagation();
                statusUser(row);
            }
        }
    }, {
        field: 'operate',
        title: '操作',
        formatter: btnGroup,  // 自定义方法
        events: {
            'click .edit-btn': function (event, value, row, index) {
                event.stopPropagation();
                editUser(row);
            }
        }
    }];
    
    // 自定义操作按钮
    function btnGroup () {
        let html =
            '<a href="#!" class="btn btn-sm btn-default me-1 edit-btn" title="编辑" data-bs-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>';
        return html;
    }
  
    // 操作方法 - 编辑
    function editUser(row) {
		var id = row.id;
		location.href='/{$app}/agent/edit?id='+id;
    }
    //操作方法 - 状态
    function statusUser(row) {
		var id = row.id;
		$.post("/{$app}/agent/status", {id:id}, function(res) {
			if(res.code==1){
				const Toast = Swal.mixin({
				  toast: true,
				  position: "top",
				  showConfirmButton: false,
				  timer: 1500,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.onmouseenter = Swal.stopTimer;
					toast.onmouseleave = Swal.resumeTimer;
				  }
				});
				Toast.fire({
				  icon: "success",
				  title: res.msg
				});
				setTimeout("self.location.reload();",1500);
			}else {
				const Toast = Swal.mixin({
				  toast: true,
				  position: "top",
				  showConfirmButton: false,
				  timer: 1500,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.onmouseenter = Swal.stopTimer;
					toast.onmouseleave = Swal.resumeTimer;
				  }
				});
				Toast.fire({
				  icon: "error",
				  title: res.msg
				});
				//setTimeout("self.location.reload();",1500);
			}
		}).fail(function () {
			const Toast = Swal.mixin({
			  toast: true,
			  position: "top",
			  showConfirmButton: false,
			  timer: 1500,
			  timerProgressBar: true,
			  didOpen: (toast) => {
				toast.onmouseenter = Swal.stopTimer;
				toast.onmouseleave = Swal.resumeTimer;
			  }
			});
			Toast.fire({
			  icon: "question",
			  title: '服务异常'
			});
			//setTimeout("self.location.reload();",1500);
		});
    }
	 //操作方法 - 权限
    function quanxianUser(row) {
		var id = row.id;
		$.post("/{$app}/agent/quanxian", {id:id}, function(res) {
			if(res.code==1){
				const Toast = Swal.mixin({
				  toast: true,
				  position: "top",
				  showConfirmButton: false,
				  timer: 1500,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.onmouseenter = Swal.stopTimer;
					toast.onmouseleave = Swal.resumeTimer;
				  }
				});
				Toast.fire({
				  icon: "success",
				  title: res.msg
				});
				setTimeout("self.location.reload();",1500);
			}else {
				const Toast = Swal.mixin({
				  toast: true,
				  position: "top",
				  showConfirmButton: false,
				  timer: 1500,
				  timerProgressBar: true,
				  didOpen: (toast) => {
					toast.onmouseenter = Swal.stopTimer;
					toast.onmouseleave = Swal.resumeTimer;
				  }
				});
				Toast.fire({
				  icon: "error",
				  title: res.msg
				});
				//setTimeout("self.location.reload();",1500);
			}
		}).fail(function () {
			const Toast = Swal.mixin({
			  toast: true,
			  position: "top",
			  showConfirmButton: false,
			  timer: 1500,
			  timerProgressBar: true,
			  didOpen: (toast) => {
				toast.onmouseenter = Swal.stopTimer;
				toast.onmouseleave = Swal.resumeTimer;
			  }
			});
			Toast.fire({
			  icon: "question",
			  title: '服务异常'
			});
			//setTimeout("self.location.reload();",1500);
		});
    }
	$('table').bootstrapTable({
		...table,
		// 自定义的查询参数
		queryParams: function (params) {
			return {
				// 每页数据量
				limit: params.limit,
				// sql语句起始索引
				offset: params.offset,
				page: (params.offset / params.limit) + 1,
				// 排序的列名
				sort: params.sort,
				// 排序方式 'asc' 'desc'
				sortOrder: params.order
			};
		},
		columns,
        onLoadSuccess: function(data){
            $("[data-bs-toggle='tooltip']").tooltip();
        }
	});
</script>

</body>
</html>