<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<link rel="stylesheet" type="text/css" href="__MB__/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="__MB__/css/bootstrap.min.css">
<!--tags插件css-->
<link rel="stylesheet" type="text/css" href="__MB__/js/jquery-tagsinput/jquery.tagsinput.min.css">
<link rel="stylesheet" type="text/css" href="__MB__/css/style.min.css">
<!-- 加载 Select2 -->
<script src="__MB__/select/jquery-3.2.1.min.js"></script>
<link href="__MB__/select/select2.min.css" rel="stylesheet" />
<script src="__MB__/select/select2.min.js"></script>
</head>
  
<body>
<div class="container-fluid">
  
  <div class="row">
    
    <div class="col-lg-12">
      <div class="card">
        <header class="card-header"><div class="card-title">GM工具</div></header>
        <div class="card-body">
          
          <ul class="nav nav-tabs">
			<li class="nav-item">
			  <a href="/{$app}/gm/player/mod/basic" style="color:black">
			  <button class="nav-link {if $mod=='basic'}active{/if}" >基本操作</button>
			  </a>
			</li>
			<li class="nav-item">
				<a href="/{$app}/gm/player/mod/role" style="color:black">
			  <button class="nav-link {if $mod=='role'}active{/if}">角色操作</button>
			  </a>
			</li>
			<li class="nav-item">
				<a href="/{$app}/gm/player/mod/pet" style="color:black">
			  <button class="nav-link {if $mod=='pet'}active{/if}">宠物操作</button>
			  </a>
			</li>
			<li class="nav-item">
				<a href="/{$app}/gm/player/mod/gang" style="color:black">
			  <button class="nav-link {if $mod=='gang'}active{/if}">帮派操作</button>
			  </a>
			</li>
          </ul>
		<form action="/{$app}/gm/playerSub"  method="post" class="edit-form">
		  <div class="form-group">
			<label>角色ID</label>
			<input type="number" class="form-control" name="playerid" value="{if $playerid!=null}{$playerid}{/if}"  placeholder="请输入玩家ID" style="width:100%;height:40px;border-radius:10px" >
		  </div>
		  <br>
		  {if $mod=='basic'}
			  <div class="tab-content">
				<div class="form-group">
				<label>选择操作内容</label>
				<select name="gmcmd" class="form-control" style="width:100%;height:40px;border-radius:10px">
					<option value="nonvoice">禁言</option>
					<option value="unnonvoice">解除禁言</option>
					<option value="coquest">跳过主线</option>
					<option value="clearbag">清理背包</option>
					<option value="forbid">封禁账号</option>
					<option value="unforbid">解封账号</option>
					<option value="kick">强制下线</option>
					<option value="baitantimeclear">清除摆摊公示</option>
					<option value="checkcode">开启手机验证</option>
					<option value="hideme">隐身加速</option>
					<option value="showme">取消隐身加速</option>
					<option value="battleEndSuccess">战斗胜利</option>
					<option value="battleEndFail">战斗失败</option>
					<option value="cangbatou">一键使用背包藏宝图</option>
				</select>
				</div>
				<br>
			  </div>
			<br>
			<div class="mb-3">
			  <button type="submit" class="btn btn-primary me-1">确 定</button>
			</div>
		  {/if}
		  {if $mod=='role'}
			  <div class="tab-content">
				<div class="form-group">
				<label>选择操作内容</label>
				<select name="gmcmd" class="form-control" onchange="setChange()" style="width:100%;height:40px;border-radius:10px">
					<option value="addlevel">增加等级</option>
					<option value="addqian">增加仙玉</option>
					<option value="subfushi">减少仙玉</option>
					<option value="addvipexp">增加VIP经验</option>
					<option value="setvip">增加VIP等级</option>
					<option value="addgold">增加金币</option>
					<option value="changebindtel">关联手机</option>
					<option value="additem">发送物品</option>
					<option value="grmail">发送个人邮件</option>
					<option value="addtitle">增加称谓</option>
					<option value="deltitle">删除称谓</option>
					<option value="addhyd">增加活跃度</option>
					<option value="addqianS">增加货币数量</option>
					<option value="award">获取奖励</option>
					<option value="offlinetime">增加离线托管时间</option>
					<option value="rolecmd">CMD命令</option>
				</select>
			  </div>
			  <br>
			  <script>
				function setChange() {
					var selectValue = $("select[name='gmcmd']").val();
					if(selectValue == 'changebindtel'){
						$("#moblieNum").show();
						$("#additem").hide();
						$("#additem2").hide();
						$("#award").hide();
						$("#moneyType").hide();
						$("#num").hide();
						$("#addtitle").hide();
						$("#rolecmd").hide();
					}else if(selectValue == 'additem'){
						$("#moblieNum").hide();
						$("#additem").show();
						$("#additem2").hide();
						$("#award").hide();
						$("#moneyType").hide();
						$("#num").show();
						$("#addtitle").hide();
						$("#rolecmd").hide();
					}else if(selectValue == 'grmail'){
						$("#moblieNum").hide();
						$("#additem").hide();
						$("#additem2").show();
						$("#award").hide();
						$("#moneyType").hide();
						$("#num").hide();
						$("#addtitle").hide();
						$("#rolecmd").hide();
					}else if(selectValue == 'addtitle'||selectValue == 'deltitle'){
						$("#moblieNum").hide();
						$("#additem").hide();
						$("#additem2").hide();
						$("#award").hide();
						$("#moneyType").hide();
						$("#num").hide();
						$("#addtitle").show();
						$("#rolecmd").hide();
					}else if(selectValue == 'addqianS'){
						$("#moblieNum").hide();
						$("#additem").hide();
						$("#additem2").hide();
						$("#award").hide();
						$("#moneyType").show();
						$("#num").show();
						$("#addtitle").hide();
						$("#rolecmd").hide();
					}else if(selectValue == 'award'){
						$("#moblieNum").hide();
						$("#additem").hide();
						$("#additem2").hide();
						$("#award").show();
						$("#moneyType").hide();
						$("#num").hide();
						$("#addtitle").hide();
						$("#rolecmd").hide();
					}else if(selectValue == 'rolecmd'){
						$("#moblieNum").hide();
						$("#additem").hide();
						$("#additem2").hide();
						$("#award").hide();
						$("#moneyType").hide();
						$("#num").hide();
						$("#addtitle").hide();
						$("#rolecmd").show();
					}else{
						$("#moblieNum").hide();
						$("#additem").hide();
						$("#additem2").hide();
						$("#award").hide();
						$("#moneyType").hide();
						$("#num").show();
						$("#addtitle").hide();
						$("#rolecmd").hide();
					}
				}
			  </script>
			  <div id="rolecmd" style="display:none">
				  <div class="form-group col-md-12">
					<label>CMD命令</label>
					<input type="text" class="form-control" name="cmd" value=""  placeholder="请输入CMD命令" style="width:100%;height:40px;border-radius:10px" >
				  </div>
			  </div>
			  <div id="moblieNum" style="display:none">
				  <div class="form-group col-md-12">
					<label>手机号码</label>
					<input type="number" class="form-control" name="mobile" value=""  placeholder="请输入关联手机号码" style="width:100%;height:40px;border-radius:10px" >
					<input type="text" class="form-control" value="此处填写关联手机号码" style="width:100%;height:40px;border-radius:10px;display:none" readonly>
				  </div>
			  </div>
				<div id="additem" style="display:none">
				  <div class="form-group col-md-12">
					<label>选择物品</label>
					<select name="itemid" id="itemid" style="width:100%;height:40px;border-radius:10px">
					{foreach $itemData as $value }
					<option value="{$value.itemid}">{$value.name}</option>
					{/foreach}
					</select>
				  </div>
					<br>
					<script>var selectorx = $('#itemid').select2( {placeholder: '请选择'} );</script>
				</div>
				<div id="additem2" style="display:none">
					<div class="mb-3">
					  <label class="form-label">邮件物品参数</label>
					  <input class="form-control" type="text" id="itemstr" name="itemstr" value="" readonly>
					  <small class="form-text">格式：物品id;物品数量，多组物品奖励，请使用英文逗号（,）隔开</small>
					</div>
					
					  <div class="form-group col-md-12">
						<label>选择物品</label>
						<select id="itemid2" style="width:100%;height:40px;border-radius:10px">
						{foreach $itemData as $value }
						<option value="{$value.itemid}">{$value.name}</option>
						{/foreach}
						</select>
					  </div>
					<script>var selectorx = $('#itemid2').select2( {placeholder: '请选择'} );</script>
					<br>
					<div class="mb-3">
					  <label class="form-label">物品数量</label>
					  <div class="input-group">
					  <input class="form-control" type="number" id="number2" value="1" placeholder="请输入物品数量">
					  </div>
					</div>
					<a onclick="additemlist()" class="btn btn-primary me-1">添加</a>
					<a onclick="additemlist1()" class="btn btn-primary me-1">重置</a>

					<script>
						function additemlist() {
										var itemid = $("#itemid2").val();
										if(itemid==null){
											showNotify('物品id不能为空', 'warning', 5000, 'mdi mdi-alert-rhombus', 'top', 'center');
											return false;
										}
										var number = document.getElementById("number2").value;
										if(number<=0){
											showNotify('物品数量不能为空', 'warning', 5000, 'mdi mdi-alert-rhombus', 'top', 'center');
											return false;
										}
										var itemstr = document.getElementById("itemstr").value;
										if(itemstr!=''){
											var fgf = ',';
										}else{
											var fgf = '';
										}
										var itemstr = itemstr + fgf + itemid + '|' + number;
										var inputElement = document.getElementById('itemstr');
										inputElement.value = itemstr;
									}
						function additemlist1() {
										var itemstr = null;
										var inputElement = document.getElementById('itemstr');
										inputElement.value = itemstr;
									}
					</script>
				</div>
				<div id="award" style="display:none">
				  <div class="form-group col-md-12">
					<label>选择奖励</label>
					<select name="awardid" id="awardid" style="width:100%;height:40px;border-radius:10px">
					{foreach $awardData as $value }
					<option value="{$value.itemid}">{$value.name}</option>
					{/foreach}
					</select>
				  </div>
					<script>var selectorx = $('#awardid').select2( {placeholder: '请选择'} );</script>
				</div>
				<div id="moneyType" style="display:none">
				  <div class="form-group col-md-12">
					<label>货币类型</label>
					<select name="moneyType" style="width:100%;height:40px;border-radius:10px">
					<option value="1">银币</option>
					<option value="2">金币</option>
					<option value="3">符石</option>
					<option value="4">职业贡献</option>
					<option value="5">荣誉值</option>
					<option value="7">声望</option>
					<option value="8">节日积分</option>
					<option value="9">良师值</option>
					<option value="13">信用值</option>
					</select>
				  </div>
				  <br>
				</div>
				<div id="num">
				  <div class="form-group col-md-12">
					<label>数量</label>
					<input type="number" class="form-control" name="number" max="999999999" min="1" value=""  placeholder="请输入发送数量" style="width:100%;height:40px;border-radius:10px" >
				  </div>
				</div>
				<div id="addtitle" style="display:none">
				  <div class="form-group col-md-12">
					<label>选择称谓</label>
					<select name="titleid" id="titleid" style="width:100%;height:40px;border-radius:10px">
					{foreach $titleData as $value }
					<option value="{$value.itemid}">{$value.name}</option>
					{/foreach}
					</select>
				  </div>
					<script>var selectorx = $('#titleid').select2( {placeholder: '请选择'} );</script>
				</div>
			</div>
			<br>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary me-1">确 定</button>
			</div>
		  {/if}
		  {if $mod=='pet'}
					<div class="form-group">
					<label>选择操作内容</label>
					<select name="gmcmd" class="form-control" onchange="setChange()" style="width:100%;height:40px;border-radius:10px">
						<option value="addpetexp">增加宠物经验</option>
						<option value="addpet">增加宠物</option>
						<option value="addpetskill">参战宠物添加技能</option>
						<option value="delpetskill">参战宠物删除技能</option>
						<option value="setpetvalue">修改宠物资质</option>
					</select>
					<br>
					</div>
					<script>
						function setChange() {
							var selectValue = $("select[name='gmcmd']").val();
							if(selectValue == 'addpet'){
								$("#addpet").show();
								$("#petskill").hide();
								$("#number").hide();
								$("#setpetval").hide();
							}else if(selectValue == 'setpetvalue'){
								$("#addpet").hide();
								$("#petskill").hide();
								$("#number").show();
								$("#setpetval").show();
							}else if(selectValue == 'addpetskill'||selectValue == 'delpetskill'){
								$("#addpet").hide();
								$("#petskill").show();
								$("#number").hide();
								$("#setpetval").hide();
							}else{
								$("#addpet").hide();
								$("#petskill").hide();
								$("#number").show();
								$("#setpetval").hide();
							}
						}
					</script>
					<div id="addpet" style="display:none">
					  <div class="form-group col-md-12">
						<label>选择宠物</label>
						<select name="petid" id="petid" style="width:100%;height:40px;border-radius:10px">
						{foreach $petData as $value }
						<option value="{$value.itemid}">{$value.name}</option>
						{/foreach}
						</select>
					  </div>
					  <br>
						<script>var selectorx = $('#petid').select2( {placeholder: '请选择'} );</script>
					  <div class="form-group col-md-12">
						<label>宠物等级</label>
						<input type="number" min='1' max='999' class="form-control" name="level" placeholder="请输入宠物等级" style="width:100%;height:40px;border-radius:10px"/>
					  </div>
					</div>
					<div id="petskill" style="display:none">
					  <div class="form-group col-md-12">
						<label>选择技能</label>
						<select name="skillid" id="skillid" style="width:100%;height:40px;border-radius:10px">
						{foreach $petSkillData as $value }
						<option value="{$value.itemid}">{$value.name}</option>
						{/foreach}
						</select>
					  </div>
						<script>var selectorx = $('#skillid').select2( {placeholder: '请选择'} );</script>
					</div>
					<div id="setpetval" style="display:none">
					  <div class="form-group col-md-12">
						<label>选择修改项</label>
						<select name="valuetype" class="form-control" style="width:100%;height:40px;border-radius:10px">
							<option value="1">修改成长资质</option>
							<option value="2">修改攻击资质</option>
							<option value="3">修改防御资质</option>
							<option value="4">修改法术资质</option>
							<option value="5">修改体质资质</option>
							<option value="6">修改速度资质</option>
						</select>
					  </div>
						<br>
					</div>
					<div id="number" >
					  <div class="form-group col-md-12">
						<label>数量</label>
						<input type="number" min='1' max='999999999' class="form-control" name="number" placeholder="请输入数量" style="width:100%;height:40px;border-radius:10px"/>
					  </div>
					</div>
					<br>
					<div class="mb-3">
					  <button type="submit" class="btn btn-primary me-1">确 定</button>
					  <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				{/if}
				{if $mod=='gang'}
					<div class="form-group">
					<label>选择操作内容</label>
					<select name="gmcmd" class="form-control" onchange="setChange()" style="width:100%;height:40px;border-radius:10px">
							<option value="addbanggong">增加帮派贡献</option>
							<option value="addfactionmoney">增加帮派资金</option>
							<option value="bpgx">帮派强制维护</option>
							<option value="yaofangrefresh">帮派药房刷新</option>
							<option value="dismissguild">解散帮派</option>
					</select>
					<br>
					</div>
					<script>
						function setChange() {
							var selectValue = $("select[name='gmcmd']").val();
							if(selectValue == 'addbanggong'||selectValue == 'addfactionmoney'){
								$("#number").show();
							}else{
								$("#number").hide();
							}
						}
					</script>
					<div id="number">
					  <div class="form-group col-md-12">
						<label>数量</label>
						<div class="input-group col-md-12">
							<input type="number" class="form-control" name="number" min="1" max="999999999" placeholder="请输入数量" style="width:100%;height:40px;border-radius:10px">
						</div>
					  </div>
					</div>
					<br>
					<div class="mb-3">
					  <button type="submit" class="btn btn-primary me-1">确 定</button>
					  <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				{/if}
			</form>
        </div>
      </div>
    </div>
        
  </div>
  
</div>

<script type="text/javascript" src="__MB__/js/jquery.min.js"></script>
<script type="text/javascript" src="__MB__/js/popper.min.js"></script>
<script type="text/javascript" src="__MB__/js/bootstrap.min.js"></script>
<!--tags插件-->
<script type="text/javascript" src="__MB__/js/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="__MB__/js/main.min.js"></script>
<!--通知弹窗-->
<link rel="stylesheet" type="text/css" href="__MB__/alert/sweetalert2.min.css">
<script  src="__MB__/alert/sweetalert2.all.min.js"></script>

<script>
$('.edit-form').on('submit', function(event) {
    var $data  = $(this).serialize();
	
    $.post($(this).attr('action'), $data, function(res) {
		if(res.code==1){
			const Toast = Swal.mixin({
			  toast: true,
			  position: "top",
			  showConfirmButton: false,
			  timer: 1500,
			  timerProgressBar: true,
			  didOpen: (toast) => {
				toast.onmouseenter = Swal.stopTimer;
				toast.onmouseleave = Swal.resumeTimer;
			  }
			});
			Toast.fire({
			  icon: "success",
			  title: res.msg
			});
			//setTimeout("self.location.reload();",1500);
		}else {
			const Toast = Swal.mixin({
			  toast: true,
			  position: "top",
			  showConfirmButton: false,
			  timer: 1500,
			  timerProgressBar: true,
			  didOpen: (toast) => {
				toast.onmouseenter = Swal.stopTimer;
				toast.onmouseleave = Swal.resumeTimer;
			  }
			});
			Toast.fire({
			  icon: "error",
			  title: res.msg
			});
			//setTimeout("self.location.reload();",1500);
		}
	}).fail(function () {
		const Toast = Swal.mixin({
		  toast: true,
		  position: "top",
		  showConfirmButton: false,
		  timer: 1500,
		  timerProgressBar: true,
		  didOpen: (toast) => {
			toast.onmouseenter = Swal.stopTimer;
			toast.onmouseleave = Swal.resumeTimer;
		  }
		});
		Toast.fire({
		  icon: "question",
		  title: '服务异常'
		});
		//setTimeout("self.location.reload();",1500);
	});

    return false;
});
</script>
</body>
</html>